[submodule "tests/harness/clargs"]
	path = tests/harness/clargs
	url = ../../cppfw/clargs
	branch = main
#	ignore = dirty
[submodule "tests/harness/tst"]
	path = tests/harness/tst
	url = ../../cppfw/tst
	branch = main
#	ignore = dirty
[submodule "tool-configs"]
	path = tool-configs
	url = ../../cppfw/tool-configs
	branch = main
