[submodule "tests/harness/clargs"]
	path = tests/harness/clargs
	url = ../../cppfw/clargs
	branch = latest
	ignore = dirty
[submodule "tests/harness/tst"]
	path = tests/harness/tst
	url = ../../cppfw/tst
	branch = latest
	ignore = dirty
