#!/usr/bin/make -f
%:
	dh $@

soname := $(shell cat src/soname.txt)

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=libting$(soname)-dbg

.PHONY: override_dh_auto_install
override_dh_auto_install:
	PREFIX=/usr dh_auto_install
